.attendance-title {
  background-image: linear-gradient(
    90deg,
    #c6ffdd 0%,
    #fbd786 50%,
    #f7797d 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  max-width: 740px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
}
.feature-img-container{
    background-color: rgba(206, 206, 251, 0.04);
    
    border-top-left-radius: 22px;
border-top-right-radius: 22px;
}
.feature-inner-card{


border-bottom-left-radius: 22px;
border-bottom-right-radius: 22px;
border: 1px 0px 0px 0px;
background-color:  rgba(206, 206, 251, 0.12);
border-top: 1px solid rgba(206, 206, 251, 0.12);
box-shadow: inset 0px -4px 12px 0px rgba(206, 206, 251, 0.1) ;

}

.feature-card{
  max-width: 374px;
}
@media (min-width:1200px) {
    .feature-card{
      width: 374px;

    }
    
}
@media (max-width:768px) {
    .feature-card{
      max-width: calc(100% - 15px);
    }
    
}