@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500&family=Inter:wght@100;200;300;400;500;600;700;800&family=Righteous&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
}
body,
html {
  overflow-x: hidden;
}
body {
  background-color: #100c26;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 20px;
}
.con-sub-btn {
  background: linear-gradient(0deg, #7e43ff, #7e43ff),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.16) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  padding: 6px 14px;
  border-radius: 8px;
  border: 1px;
  color: white;
  font-family: "Inter-Regular";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: 0px 1px 2px 0px rgba(37, 17, 79, 0.4);
  width: fit-content;
  height: 35px;
  /* border: 1px solid ; */
}
@media (max-width: 1200px) {
  .con-sub-btn{
    font-size: 11px;
  padding: 2px 4px;

  }
}


.con-sub-btn:hover ,.con-sub-btn2:hover {
  background: linear-gradient(0deg, #6f2eff, #6f2eff),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.16) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  /* border: 1px solid; */

  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0px 0px 10px 2px rgba(126, 67, 255, 0.4);
}

.hero-last {
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(203, 203, 232, 0.75);
}
.hero-last.light {
  color: rgba(203, 203, 232, 1);
}
.main-title {
  background: linear-gradient(
    0deg,
    rgba(206, 206, 251, 0.12),
    rgba(206, 206, 251, 0.12)
  );
  border: 3px solid rgba(206, 206, 251, 0.12);
  box-shadow: inset 0px -4px 12px 0px rgba(206, 206, 251, 0.1);
  padding: 6px 14px;
  border-radius: 18px;
  width: fit-content;
  color: #cbcbe8;
  font-size: 14px;
  text-align: center;
  margin-bottom: 12px !important;
}
@media (max-width:992px) {
  .main-title {
    font-size: 13px;
  }
}
li {
  list-style-type: none;
}
a {
  text-decoration: none !important;
}
@font-face {
  font-family: "Inter V";
  src: url("/fonts/Inter-V.ttf") format("truetype");
  /* You can include more font properties here if needed */
}
@font-face {
  font-family: "Inter-Regular";
  src: url("/fonts/Inter-Regular.otf") format("opentype");
  /* You can include more font properties here if needed */
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("/fonts/Inter-SemiBold.ttf") format("truetype");
  /* You can include more font properties here if needed */
}

.backdrop-blur-lg {
  --tw-backdrop-blur: none;
}
